body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', sans-serif;
    color: #222;
}

abbr {
    font-variant: small-caps;
    font-size: 1.1em;
    text-decoration: none;
}

h1.post-title {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1em;
}

h2, h3, h4 {
    margin-top: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    line-height: 1.5em;
    color: #444;
    margin-bottom: 1.5em;
}

a {
    color: #E74C3C;
}

a:hover {
    text-decoration: none;
}

code {
    background: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    white-space: nowrap;
}

pre>code {
    border: none;
}

#logo {
    text-align: center;
    margin: 15px 4px;
}

#logo img {
    margin: 4px;
    height: 32px;
    width: 32px;
}

#logo div.logo-text {
    text-align: left;
}

#logo h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin: 0;
    color: #E74C3C;
}

#logo .subtitle {
    font-style: italic;
    color: #aaa;
    font-weight: 300;
}

footer {
    height: 3em;
    border-top: 1px solid #ddd;
    margin: 50px auto 50px;
    width: 80%;
}

footer .contact {
    margin: 10px 0 0 10px;
    text-align: center;
    font-size: 0.8em;
    color: #aaa;
}

footer .contact .icons {
    margin: 10px 0 0 0;
    font-size: 1.2em;
}

nav {
    line-height: 2em;
    text-align: center;
}

nav ul {
    display: block;
    margin: 1em 0 1em 0;
    padding: 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    padding: 12px 18px;
    color: #444;
}

h1.title {
    margin-bottom: 50px;
    text-align: center;
}

#home {
    text-align: center;
}

#home p.lead {
    color: #aaa;
    font-size: 1.5em;
    margin-top: 30px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 120px;
}

#home .image {
    margin: auto;
    margin-top: 120px;
}

#blog {
    margin-top: 20px;
    margin-bottom: 50px;
}

#text {
    text-align: left;
    width: 600px;
    margin: auto;
}

#text ul, #text ol {
    margin-bottom: 1.5em;
}

#text ul li, #text ol li {
    margin-bottom: 0.5em;
}

.author {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 35px 0 24px 0;
    margin-top: 72px;
    background: #fff;
    position: relative;
}

.author h4 {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    margin-top: 4px;
}

.author img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -40px;
    border: 4px solid #fff;
}

.author p.lead {
    font-size: 0.9em;
    margin-bottom: 0;
}

.author .contact {
  padding-top: 12px;
  text-align: center;
}

.author .contact a {
  padding: 12px;
}

.post-date {
    display: block;
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 1.5em;
    color: #aaa;
}

.post img {
    max-width: 100%;
    height: auto;
    margin: 2em auto;
    text-align: center;
    display: block;
}

.post img + em {
    display: block;
    width: 80%;
    margin: -1em auto 2em;
    font-size: 16px;
    text-align: center;
}

.post img.space-bottom {
    margin-bottom: 3em;
}

.post video {
    max-width: 100%;
    height: auto;
}

.post pre {
    margin-bottom: 1.5em;
}

.post div.centered {
    display: block;
    margin: auto;
    text-align: center;
}

.post div.highlight {
    margin: 2.5em 0;
    border-left: 8px solid #F7CA88;
}

.intro {
    font-size: 1.2em;
    line-height: 1.4em;
}

.tags {
    text-align: right;
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 1.5em;
    color: #aaa;
    float: right;
}

.tags i {
    margin-right: 10px;
}

.pager {
    margin-top: 50px;
}

.page_number {
    margin: 0 30px;
    color: #777;
}

.comments {
    margin-top: 50px;
}

.skills .tag {
    background: #444;
    color: #fff;
    padding: 4px 12px;
    margin: 4px;
    border-radius: 6px;
    white-space: nowrap;
}

.skills {
    margin: 2em 0;
    line-height: 2.3em;
}

.float-right {
    float: right;
}

@media (max-width: 768px) {
    #text {
	    width: 100%;
      padding: 15px;
    }

    #home .image {
	    margin-top: 40px;
    }

    #home p.lead {
	    margin-bottom: 40px;
    }

    h1.post-title {
	    font-size: 36px;
    }

    .page_number {
	    margin: 0 10px;
    }
}

@media(min-width: 1280px) {
    .author {
    	position: fixed;
    	bottom: 12px;
    	left: 12px;
    	width: 300px;
    }
}
