body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Roboto Slab', sans-serif;
	color: #222;
}

abbr {
	font-variant: small-caps;
	font-size: 1.2em;
}

h1.post-title {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.1em;
}

h3 {
	margin-top: 1.5em;
	margin-bottom: 0.3em;
	font-size: 24px;
	font-weight: 700;
}

p {
	line-height: 1.5em;
	color: #444;
	margin-bottom: 1.5em;
}

a {
	color: #E74C3C;
}

a:hover {
	text-decoration: none;
}

footer {
	height: 3em;
	border-top: 1px solid #ddd;
	margin: 50px auto 50px;
	width: 80%;
}

footer .contact {
	margin: 10px 0 0 10px;
	text-align: center;
	font-size: 0.8em;
	color: #aaa;
}

footer .contact .icons {
	margin: 10px 0 0 0;
	font-size: 1.2em;
}

nav {
	line-height: 2em;
	text-align: center;
}

nav a.logo {
	font-size: 28px;
	font-family: 'Roboto Slab', sans-serif;
	padding: 15px;
}

nav .subtitle {
	font-style: italic;
	color: #aaa;
	font-weight: 300;
}

nav ul {
	display: inline;
	padding: 0;
}

nav ul li {
	display: inline;
	list-style-type: none;
}

nav ul li a {
	display: inline-block;
	padding: 15px 20px;
	color: #444;
}

h1.title {
	font-size: 3.5em;
	margin-bottom: 50px;
	text-align: center;
}

#home {
	text-align: center;
}

#home p.lead {
	color: #aaa;
	font-size: 1.5em;
	margin-top: 30px;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 120px;
}

#home .image {
	margin: auto;
	margin-top: 170px;
}

#blog {
	margin-top: 50px;
	margin-bottom: 50px;
}

#text {
	text-align: left;
	width: 540px;
	margin: auto;
}

.post-date {
	display: block;
	text-align: right;
	font-weight: 400;
	font-style: italic;
	font-size: 0.8em;
	margin-bottom: 1.5em;
	color: #aaa;
}

.post img {
    max-width: 100%;
	height: auto;
}

.post div.centered {
	display: block;
	margin: auto;
	text-align: center;
}

.intro {
	font-size: 1.2em;
	line-height: 1.4em;
}

.tags {
	color: #aaa;
	font-size: 0.9em;
}

.tags i {
	margin-right: 10px;
}

.pager {
	margin-top: 50px;
}

.page_number {
	margin: 0 30px;
	color: #777;
}

.comments {
	margin-top: 50px;
}

@media (max-width: 768px) {
	#text {
		width: 100%;
	}

	#home .image {
		margin-top: 40px;
	}

	#home p.lead {
		margin-bottom: 40px;
	}

	.page_number {
		margin: 0 10px;
	}
}
