---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<div class="meta-info">
  <div class="tags">
    <i class="fa fa-tag"></i>
    {{ page.tags | array_to_sentence_string }}
  </div>

  <div class="post-date">
    <i class="fa fa-calendar-o"></i> {{ page.date | date_to_string }}
  </div>

  {% include reading_time.html %}
</div>

<div class="post">
  {{ content }}
</div>

<div class="author">
  <img src="/assets/img/ham.jpg" class="media-object img-circle" alt="photo ham">
  <h4>Ham Vocke</h4>
  <p class="lead">
   Ham is a software developer and consultant at <a href="https://www.thoughtworks.com/">ThoughtWorks</a>. He helps teams deliver software and spreads his excitement about learning new things. If he's not writing code he's probably annoying others with his stupid jokes.</a>
  <div class="contact">
    <div class="icons">
      <a href="mailto:ham@hamvocke.com">
        <i class="far fa-envelope"></i>
      </a> &nbsp;
      <a href="https://github.com/hamvocke">
        <i class="fab fa-github"></i>
      </a> &nbsp;
      <a href="https://twitter.com/hamvocke">
        <i class="fab fa-twitter"></i>
      </a> &nbsp;
      <a href="https://mastodon.social/@hamvocke" rel="me">
        <i class="fab fa-mastodon"></i>
      </a> &nbsp;
      <a href="https://www.xing.com/profile/Hermann_Vocke">
        <i class="fab fa-xing"></i>
      </a> &nbsp;
      <a href="https://www.linkedin.com/in/hamvocke/">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>

    {% if page.comments %}
    <div class="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
    </div>
    <script type="text/javascript">
    var disqus_shortname = 'onehamarmy';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>
      Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>

    {% endif %}
